@import '../../styles/variables.scss';

.results {
    padding-top: 40px;
}

.result-item {

    .highlight {
        padding: 1px;
        background-color: #C2DAF4;
    }

    .result-item-title {
        font-size: $text-md;
    }
}